{% extends "layout.html" %}
{% block content%}
<div class="jumbotron" style="background-image: url('{{ url_for('static', filename='diamante.jpg') }}'); background-size: cover; background-position: center;">
    <h1 class="display-4">CUSTOMER SERVICE💎</h1>
    <br>
    <h2> DO YOU HAVE ANY QUESTIONS?</h2>
    <p class="lead"> We want to improve our services for you, do not hesitate to send us  
        <br>
        your requests for cancellation, complaints, claims, among others.</p>
    <p>Send your request to <a href="diamondandres@gmail.com">infodiamondandres@gmail.com</a></p>

    <p>Electronic billing request to <a href="elecdiamondandres@gmail.com">elecdiamondandres@gmail.com</a></p>

</div>
{% endblock %}