{% extends "layout.html" %}
{% block content %}
<div class="jumbotron" style="background-image: url('{{ url_for('static', filename='diamante.jpg') }}'); background-size: cover; background-position: center;">
    <h1 class="display-4">DIAMONDANDRES💎</h1>
  
          
       
            
        
       
    <p class="lead" style="color: #000000; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); white-space: pre-line;">
        "Welcome to our Home - Where Passion Meets Performance!
        At our online store, we celebrate the spirit of sports enthusiasts
        who strive for excellence. Our collection of premium
        sports-themed t-shirts embodies the dedication, determination, 
        and drive of those who push themselves to the limit.
        Whether you're a seasoned athlete or a devoted fan, 
        our apparel is designed to reflect your commitment to sportsmanship 
        and peak performance. 
        
        Explore our range and elevate your game with every wear.
        Shop now and join the community of individuals who live a shiny life!"
    </p>
    <hr class="my-4">
    <p>.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"></a>
</div>
{% endblock %}